*{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
}
.green{
    background-color: greenyellow;
    display: inline-block;
    height: 90vh;
    width: 50%;
}
.red{
    background-color: red;
    display: inline-block;
    height: 90vh;
    width: 50%;
}
p{
    color: white;
    padding: 10px;
}
li{
    color:white;
    display: inline-block;
    margin: 25px 25px;
}
footer{
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    background-color: blue;
    text-transform: uppercase;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.footerp{
    padding: 10px;
}